# ModReplyBot Docker Environment Configuration

MRB_REDDIT_CLIENT_ID=your_client_id
MRB_REDDIT_CLIENT_SECRET=your_client_secret
MRB_REDDIT_USERNAME=your_username
MRB_REDDIT_PASSWORD=your_password
MRB_REDDIT_USER_AGENT=modreplybot on /u/your_username
MRB_REDDIT_SUBREDDIT=your_subreddit
MRB_REDDIT_WIKI_PAGE=modreplybot-config
MRB_LOG_LEVEL=Default  # Options: Default, Debug
